version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    depends_on:
      - db
    env_file: .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: >
      sh -c "
      uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
      "

volumes:
  db_data:
