services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Shodmon123
      POSTGRES_DB: blogapi
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    command: python3 -m fastapi dev --host 0.0.0.0 --port 8000 app/main.py
    restart: always
    depends_on:
      - db
      - redis
    environment:
      - DATABASE_URL=postgresql+asyncpg://admin:Shodmon123@db:5432/blogapi
      - REDIS_HOST=redis
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
